<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
     <test verbose="2" preserve-order="true" name="E:/IDEA_workspace/jenkins_test">
        <classes>
            <class name="testcase.LoginTest"/>
            <class name="testcase.RegisterTest"/>
            <class name="testcase.TestDome"/>

        </classes>
     </test>
</suite>